<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- QR 코드 스캔 및 학습 활동용 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" android:required="false" />
    <uses-permission android:name="android.permission.FLASHLIGHT" android:required="false" />
    
    <!-- 카메라 사용 목적 명시 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    
    <!-- 네트워크 접근 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 전화 관련 권한 -->
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false" />
    
    <!-- FCM 푸시 알림 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <application
        android:label="smart_yoram_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <!-- 개인정보처리방침 관련 메타데이터 -->
        <meta-data
            android:name="camera_permission_description"
            android:value="@string/permission_camera_description" />
        <meta-data
            android:name="privacy_policy_notice"
            android:value="@string/privacy_policy_notice" />
        <meta-data
            android:name="privacy_policy_url"
            android:value="https://smartyoram.com/privacy-policy" />
        <meta-data
            android:name="support_email"
            android:value="privacy@smartyoram.com" />
        <meta-data
            android:name="data_safety_camera"
            android:value="@string/data_safety_camera_usage" />
        <meta-data
            android:name="data_safety_description"
            android:value="@string/data_safety_description" />
            
        <!-- Google Play Console 표준 메타데이터 -->
        <!-- Google Play Console 데이터 안전성 정보 -->
        <meta-data
            android:name="google_play_data_safety"
            android:value="true" />
        <meta-data
            android:name="sensitive_permission_camera"
            android:value="@string/google_play_camera_purpose" />
        <meta-data
            android:name="data_collection_purpose"
            android:value="@string/google_play_data_collection" />
        <meta-data
            android:name="privacy_policy_in_app"
            android:value="true" />
            
        <!-- FCM 서비스 -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <!-- FCM 기본 알림 아이콘 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="smart_yoram_notifications" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
